statemachine.json
{
    "Comment": "A demo",
    "StartAt": "CalculateTax",
    "States": {
      "CalculateTax": {
        "Type": "Task",
        "Next":"wait_ten_seconds",
        "Resource": "arn:aws:lambda:::function:CalculateTaxFunction"
      },
      "wait_ten_seconds": {
        "Type": "Wait",
        "Seconds": 10,
        "Next": "AnotherTask"
      },
      "AnotherTask": {
        "Type": "Task",
        "InputPath": "$",
        "ResultPath": "$.taskresult",
        "End":true,
        "Resource": "arn:aws:lambda:::function:CalculateTaxFunction"
      }
    }
  }

